body{
	background-color: #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color: #579C87;
	padding: 23px;
}
.row1{
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
}
main{
	background-color: #fff;
	width: auto;
	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
tr{
	display: flex;
	justify-content: space-between;
}
.entree td{
	margin-right: 100px;
	margin-left: 70px;
}
.plat td{
	margin-right: 100px;
	margin-left: 70px;
}
.dessert td{
	margin-right: 200px;
}
.lanoteenchantee{
	width: 800px;
	height: 1250px;
	display: flex;
	flex-direction: column;
}
.menu1{
	background-color: #FBBB85;
}
.container-fluid2{
	background-color: #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container-fluid2 p{
	color: #fcca46;
	margin-right: 10px;
}
.row2{
	background-color: #579C87;
	display: flex;
	justify-content: space-between;
	color: yellow;
	font-size: 25px;
}
i{
	padding: 10px;
	text-align: center;
	background: linear-gradient(to right, rgba(252,32,32,0.98) 0%,rgba(255,169,119,1) 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
main i{
	font-size: 40px;
}
main div{
	color: #4f2a09;
	text-align: center;
	line-height: 3;
	font-family: 'Shadows Into Light', cursive;
	font-size: 17px;
}
h2{
	color: #4f2a09;
	font-family: 'Shadows Into Light Two', cursive;
}
h3{
	font-size: 13px;
	text-align: center;
	background: linear-gradient(to top, #4f2a09 0%, #4f2a09 1px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
	padding-top: 15px;
	margin-right: 20px;
}
h3:hover{
	background-size: 100% 100%;
}
li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;	
}
li>div:first-child{
	margin: 0 45px;
}
li div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-content: space-between;
}
.gauche{
	width: 230px;
	height: 100px;
	background-color: #4f2a09;
	-webkit-clip-path: ellipse(45% 3% at 50% 50%);
	clip-path: ellipse(45% 3% at 50% 50%);
}
.droite{
	width: 240px;
	height: 100px;
	background-color: #4f2a09;
	-webkit-clip-path: ellipse(45% 3% at 50% 50%);
	clip-path: ellipse(45% 3% at 50% 50%);
	margin-right: 45px;
	margin-left: 20px;
}
li .gauche{
}
li .droite{
	transform: scaleX(-1);
}
.wiggling{
	animation: thing 1.5s infinite;
}
.wiggling{
	padding-left: 220px;
	padding-right: 220px;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: yellow;
}

@media all and (min-width: 401px) and (max-width: 768px){
	main{
		background-color: #FBBB85;
	}
	.lanoteenchantee{
		width: 550px;
		height: auto;
	}
}

@media all and (max-width: 400px){
	.container-fluid1{
		width: 410px;
	}
	main{
		height: 100%;
		margin-bottom: 100px;
		width: 420px;
		padding-left: 20px;
	}
	.entree td{
		margin-left: 10px;
		margin-right: 1px;
	}
	.entree{
		padding-left: 10px;
	}
	.plat td{
		margin-left: 10px;
		margin-right: 1px;
	}
	.plat{
		padding-left: 10px;
	}
	.dessert td{
		margin-left: 1px;
		margin-right: 1px;
	}
	.dessert{
		padding-left: 1px;
	}
	.lanoteenchantee{
		width: 550px;
		height: 100%;
	}
	.wiggling{
	padding-left: 20px;
	padding-right: 20px;
  	}
}
