body{
	background-color: #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color: #579C87;
	padding: 23px;
}
.row1{
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
}
main{
	background-color: #fff;
	width: auto;
	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lanoteenchantee{
	width: 800px;
	height: 1250px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.menu1{
	background-color: #FBBB85;
}
.container-fluid2{
	background-color: #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container-fluid2 p{
	color: #fcca46;
	margin-right: 10px;
}
.row2{
	background-color: #579C87;
	display: flex;
	justify-content: space-between;
	color: yellow;
	font-size: 25px;
}
i{
	padding: 10px;
	text-align: center;
	background: linear-gradient(to right, rgba(252,32,32,0.98) 0%,rgba(255,169,119,1) 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
main i{
	font-size: 40px;
}
main div{
	color: #4f2a09;
	text-align: center;
	line-height: 3;
	font-family: 'Shadows Into Light', cursive;
	font-size: 17px;
}
main h2{
	color: #4f2a09;
	font-family: 'Shadows Into Light Two', cursive;
}
h3{
	font-size: 15px;
	text-align: center;
	background: linear-gradient(to top, #4f2a09 0%, #4f2a09 1px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}
li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
li>div:first-child{
	margin: 0 15px;
}
.gauche{
	width: 200px;
	height: 100px;
	background-color: #4f2a09;
	-webkit-clip-path: ellipse(45% 3% at 50% 50%);
	clip-path: ellipse(45% 3% at 50% 50%);
}
.droite{
	width: 200px;
	height: 100px;
	background-color: #4f2a09;
	-webkit-clip-path: ellipse(45% 3% at 50% 50%);
	clip-path: ellipse(45% 3% at 50% 50%);
	margin-right: 45px;
	margin-left: 20px;
}
li .gauche{
	padding-right: 
}
li .droite{
	padding-right:
	transform: scaleX(-1);
}
.wiggling{
	animation: thing 1.5s infinite;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: yellow;
}

@media all and (min-width: 401px) and (max-width: 768px){
	main{
		background-color: #FBBB85;
	}
	.lanoteenchantee{main
		width: 550px;
		height: auto;
	}
}

@media all and (max-width: 400px){
	.container-fluid1{
		height: 60px;
	}
	.row1{
		font-size: 15px;
	}
	h2{
		text-align: center;
	}
	.lanoteenchantee{
		width: 330px;
		height: auto;
	}
	.menu1{
		padding-left: 10px;
	}
	main{
		background-color: #FBBB85;
		height: 1300px;
	}
	main div{
		line-height: 2;
		font-size: 14px;
		margin-right: 5px;
	}
	.entree .gauche{
		width: 50px;
	}
	.entree .droite{
		width: 50px;
	}
	.plat .gauche{
		width: 60px;
	}
	.plat .droite{
		width: 60px;
	}
	.container-fluid2{
		height: 40px;
	}
	.row2{
		font-size: 15px;
	}
	i{
		font-size: 1px;
	}
}
