body{
	background-color: #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color: #579C87;
	padding: 23px;	
}
.row1{
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
}
main{
	background-color: #fff;
	width: auto;
	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
tr{
	display: flex;
	justify-content: space-between;
}
.entree td{
	margin-right: 100px;
	margin-left: 40px;
}
.plat td{
	margin-right: 70px;
	margin-left: 5px;
}
.dessert td{
	margin-right: 70px;
	margin-left: 5px;
}
.lapalettedugout{
	width: 800px;
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: 1px 1px 1px 1px;
	background-color: #fff;
}
.container-fluid2{
	background-color: #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container-fluid2 p{
	color: #fcca46;
	margin-right: 10px;
}
.row2{
	display: flex;
	justify-content: space-between;
	color: yellow;
	font-size: 25px;
}
main div{
	text-align: center;
	line-height: 3;
	font-family: 'Caveat', cursive;
	font-size: 18px;
}
main h3{
	font-family: 'Caveat', cursive;
}
main h2{
	font-family: 'Kaushan Script', cursive;
	background: linear-gradient(to right, rgba(26,114,14,0.98) 0%,rgba(26,114,14,0.98) 1%,rgba(197,255,186,1) 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 50px;
}
h3{
	font-size: 15px;
	text-align: center;
	background: linear-gradient(to top, rgba(26,114,14,0.98) 0%, rgba(26,114,14,0.98) 1px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}		
li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
}
li>div:first-child{
	margin: 0 20px;
}
h3{
	padding-top: 10px;
	padding-left: 5px;
}
.gauche{
	width: 250px;
	height: 100px;
	background: linear-gradient(to right, rgba(26,114,14,0.98) 0%,rgba(26,114,14,0.98) 1%,rgba(197,255,186,1) 100%);
	-webkit-clip-path: polygon(55% 48%, 79% 46%, 91% 47%, 100% 50%, 68% 51%, 46% 53%, 19% 52%, 0 50%, 7% 45%, 30% 48%);
	clip-path: polygon(55% 48%, 79% 46%, 91% 47%, 100% 50%, 68% 51%, 46% 53%, 19% 52%, 0 50%, 7% 45%, 30% 48%);
}
.droite{
	margin-left: 40px;
	width: 250px;
	height: 100px;
	background: linear-gradient(to right, rgba(26,114,14,0.98) 0%,rgba(26,114,14,0.98) 1%,rgba(197,255,186,1) 100%);
	-webkit-clip-path: polygon(55% 48%, 79% 46%, 91% 47%, 100% 50%, 68% 51%, 46% 53%, 19% 52%, 0 50%, 7% 45%, 30% 48%);
	clip-path: polygon(55% 48%, 79% 46%, 91% 47%, 100% 50%, 68% 51%, 46% 53%, 19% 52%, 0 50%, 7% 45%, 30% 48%);
}
.titleOne{
	margin-left: 20px;
}
.titleTwo{
	margin-right: 60px;
}
.titleThree{
	margin-right: 60px;
}
li .gauche{
	padding-right: 10px;
}
li .droite{
	padding-right: 10px;
	transform: scaleX(-1);
}
.wiggling{
	animation: thing 1.5s infinite;
}
.wiggling{
	padding-left: 220px;
	padding-right: 220px;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: yellow;
}

@media all and (min-width: 451px) and (max-width: 768px){
	main{
		background-color: #fff;
	}
	.lapalettedugout{
		width: 550px;
		height: auto;
		box-shadow: none;
	}
}

@media all and (max-width: 450px){
	body{
		background-color: #fff;
	}
	.container-fluid1{
		height: 60px;
	}
	.row1{
		font-size: 15px;
	}
	.lapalettedugout h2{
		font-size: 25px;
	}
	.lapalettedugout h3{
		font-size: 10px;
		padding-bottom: 20px;
	}
	.lapalettedugout{
		box-shadow: none;
		width: 350px;
		height: 100%;
	}
	main{
		background-color: #fff;
		height: 100%;
		margin-bottom: 100px;
	}
	main tr{
		line-height: 1;
		font-size: 12px;
	}
	.gauche{
		min-width: 30px;
		height: 80px;
	}
	.droite{
		margin-left: 10px;
		min-width: 30px;
		height: 80px;
	}
	.entree td{
		line-height: 2;
		margin-left: 8px;
		margin-right: 40px;
	}
	.plat td{
		line-height: 2;
		margin-left: 1px;
		margin-right: 15px;
	}
	.dessert td{
		line-height: 2;
		margin-left: 1px;
		margin-right: 15px;
	}
	.titleOne{
		margin-right: 80px;
	}
	.titleTwo{
		margin-right: 60px;
	}
	.titleThree{
		margin-right: 60px;
	}
	i{
		font-size: 1px;
	}
	.container-fluid2 p{
		font-size: 15px;
	}
	.wiggling{
		padding-left: 0px;
		padding-right: 4px;
	}
}