body{
	background-color:  #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color:  #579C87;
	padding: 23px;
}
.row1{
	color: yellow;
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
}
main{
	background-color: #fff;
	width: auto;
	height: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h2{
	font-size: 35px;
	background: linear-gradient(to right, rgba(196,115,39,0.98) 0%,rgba(196,115,39,0.98) 21%,rgba(209,119,221,1) 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-family: 'Teko', sans-serif;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
tr{
	display: flex;
	justify-content: space-between;
}
.entree td{
	margin-right: 150px;
	margin-left: 70px;
	color: red;
}
.plat td{
	margin-right: 80px;
	margin-left: 0px;
}
.dessert td{
	margin-right: 300px;
}
.lechicalafrancaise{
	width: 800px;
	height: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #FCDFFB;
}
.container-fluid2{
	background-color:  #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container-fluid2 p{
	color: #fcca46;
	margin-right: 10px;
}
.row2{
	display: flex;
	justify-content: space-between;
	color: yellow;
	font-size: 25px;
}
main div{
	text-align: center;
	line-height: 3;
	font-family: 'Barlow', sans-serif;
	font-size: 17px;
}
.titleOne{
	margin-right: 80px;
}
.titleOne .gauche{
	background-color: maroon;
}
.titleOne .droite{
	background-color: maroon;
}
.titleTwo .gauche{
	background-color: violet;
}
.titleTwo .droite{
	background-color: violet;
}
.titleThree .droite{
	background-color: blue;
}
.titleThree .gauche{
	background-color: blue;
}
.titleOne h3{
	color: maroon;
}
.titleTwo h3{
	color: violet;
}
.titleThree h3{
	color: blue;
}
.titleOne h3{
	font-size: 12px;
	text-align: center;
	background: linear-gradient(to top, maroon 0%, maroon 1px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}
.titleTwo h3{
	font-size: 12px;
	text-align: center;
	background: linear-gradient(to top, violet 0%, violet 1px, transparent 5px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}
.titleThree h3{
	font-size: 12px;
	text-align: center;
	background: linear-gradient(to top, blue 0%, blue 1px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}
li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
}
li>div:first-child{
	margin: 0 45px;
}
h3{
	padding-top: 20px;
}
.gauche{
	width: 200px;
	height: 100px;
	background-color: black;
	-webkit-clip-path: polygon(70% 40%, 100% 50%, 70% 60%, 0% 50%);
	clip-path: polygon(70% 40%, 100% 50%, 70% 60%, 0% 50%);
}
.droite{
	width: 200px;
	height: 100px;
	background-color: black;
	-webkit-clip-path: polygon(30% 40%, 100% 50%, 30% 60%, 0% 50%);
	clip-path: polygon(30% 40%, 100% 50%, 30% 60%, 0% 50%);
	margin-left: 35px;
}
.entree td{
	color: maroon;
}
.plat td{
	color: violet;
}
.dessert td{
	color: blue;
}
.wiggling{
	animation: thing 1.5s infinite;
}
.wiggling{
	padding-left: 220px;
	padding-right: 220px;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: yellow;
}

@media all and (min-width: 451px) and (max-width: 768px){
	body{
		background-color: #FFF5FE;
	}
	main{
		background-color: #FFF5FE;
		height: auto;
		margin-bottom: 100px;
	}
	.lechicalafrancaise{
		width: 550px;
		height: auto;
	}
	.entree td{
		line-height: 2;
		margin-left: 30px;
		margin-right: 10px;
	}
	.plat td{
		line-height: 2;
		margin-left: 20px;
		margin-right: 10px;
	}
	.dessert td{
		line-height: 2;
		margin-left: 25px;
		margin-right: 10px;
	}
	.titleTwo li{
		padding-right: 80px;
	}
	.titleThree li{
		padding-right: 80px;
	}
	.wiggling{
		padding-left: 1px;
		padding-right: 1px;
	}
}

@media all and (max-width: 450px){
	body{
		background-color: #FFF5FE;
	}
	.container-fluid1{
		height: 60px;
	}
	.row1{
		font-size: 15px;
	}
	h3{
		padding-top: 1px;
		font-size: 10px;
	}
	.lechicalafrancaise{
		width: 350px;
		height: 100%;
		background-color: #FFF5FE;
	}
	main{
		background-color: #FFF5FE;
		height: 100%;
		margin-bottom: 100px;
	}
	main tr{
		line-height: 1;
		font-size: 12px;
	}
	.gauche{
		min-width: 30px
	}
	.droite{
		min-width: 30px
	}
	.entree td{
		line-height: 2;
		margin-left: 5px;
		margin-right: 40px;
	}
	.plat td{
		line-height: 2;
		margin-left: 5px;
		margin-right: 40px;
	}
	.dessert td{
		line-height: 2;
		margin-left: 5px;
		margin-right: 80px;
	}
	.titleOne{
		margin-right: 50px;
	}
	.titleTwo{
		margin-right: 50px;
	}
	.titleThree{
		margin-right: 8px;
	}
	.titleThree ul{
		padding-right: 20px;
	}
	ul{
		padding-left: 10px;
	}
	i{
		font-size: 1px;
	}
	.container-fluid2 p{
		font-size: 15px;
	}
	.wiggling{
		padding-left: 0px;
		padding-right: 4px;
	}
}
