body{
	background-color: #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color: #579C87;
	padding: 23px;
	transition: 500ms;
}
.row1{
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
}
main{
	background-color: #fff;
	width: auto;
	height: 1600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
tr{
	display: flex;
	justify-content: space-between;
}
.entree td{
	margin-right: 80px;
	margin-left: 3px;
}
.plat td{
	margin-right: 100px;
	margin-left: 30px;
}
.dessert td{
	margin-right: 170px;
	margin-left: 100px;
}
.ledelicedespapilles{
	width: 800px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.menu3{
	background-color: #F3F3F3;
}
.container-fluid2{
	background-color: #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.container-fluid2 p{
	color: #fcca46;
	margin-right: 10px;
}
.row2{
	display: flex;
	justify-content: space-between;
	color: yellow;
	font-size: 25px;
}
main div{
	text-align: center;
	line-height: 3;
	font-family: 'Caveat', cursive;
	font-size: 18px;
}
main h3{
	font-family: 'Caveat', cursive;
}
main h2{
	background: linear-gradient(to right, blue, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 50px;
}
h3{
	font-size: 15px;
	text-align: center;
	background: linear-gradient(to top, blue 0%, blue 1px, transparent 3px) no-repeat;
	background-size: 0 100%;
	transition: background-size .5s;
}
h3:hover{
	background-size: 100% 100%;
}		
li{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
}
li>div:first-child{
	margin: 0 15px;
}
h3{
	padding-top: 10px;
}
.entree{
	margin-left: 40px;
}
.plat{
	margin-left: 40px;
}
.dessert{
	margin-left: 40px;
}
.gauche{
	width: 250px;
	height: 100px;
	background: linear-gradient(to right, blue, skyblue);
	-webkit-clip-path: polygon(51% 55%, 100% 50%, 68% 52%, 35% 51%, 0 50%);
	clip-path: polygon(51% 55%, 100% 50%, 68% 52%, 35% 51%, 0 50%);
}
.droite{
	margin-left: 10px;
	width: 250px;
	height: 100px;
	background: linear-gradient(to left, blue, skyblue);
	-webkit-clip-path: polygon(51% 55%, 100% 50%, 68% 52%, 35% 51%, 0 50%);
	clip-path: polygon(51% 55%, 100% 50%, 68% 52%, 35% 51%, 0 50%);
	margin-right: 50px;
}
li .gauche{
	padding-right: 10px;
}
li .droite{
	padding-right: 10px;
	transform: scaleX(-1);
}
.wiggling{
	animation: thing 1.5s infinite;
}
.wiggling{
	padding-left: 220px;
	padding-right: 220px;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: yellow;
}

@media all and (min-width: 401px) and (max-width: 768px){
	main{
		background-color: #F3F3F3;
	}
	.ledelicedespapilles{
		width: 550px;
		height: auto;
	}
}


@media all and (max-width: 400px){
	.container-fluid1{
		width: 410px;
	}
	main{
		height: 100%;
		margin-bottom: 100px;
		width: 420px;
		padding-left: 160px;
	}
	.titleOne{

	}
	.entree td{
		margin-left: 80px;
		margin-right: 70px;
	}
	.entree{
		padding-left: 1px;
	}
	.plat td{
		margin-left: 10px;
		margin-right: 1px;
	}
	.plat{
		padding-left: 50px;
		padding-right: 50px;
	}
	.dessert td{
		margin-left: 10px;
		margin-right: 150px;
	}
	.dessert{
		padding-left: 1px;
	}
	.lanoteenchantee{
		width: 550px;
		height: 100%;
	}
	.wiggling{
	padding-left: 20px;
	padding-right: 20px;
  	}
}
