body{
	background-color: #579C87;
	margin: 0;
	padding: 0;
}
.container-fluid1{
	background-color: #579C87;
	padding: 23px;
	transition: 500ms;
}
.row1{
	color: yellow;
	text-align: center;
	font-size: 25px;
}
h1{
	color: #fcca46;
	font-family: 'DM Mono', sans-serif;
	text-align: center;
}
h2{
	color: #fcca46;
}
main{
	background-color: #fff;
	width: auto;
	height: 1700px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.mentionslegales{
	width: 800px;
	height: 1200px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-top: 60px;
	display: flex;
	flex-direction: column;
}
.menu1{
	background-color: #fff;
	box-shadow: 1px 1px 20px 2px black;
}
.menu1 img{
	width: 800px;
	height: 1200px;
}
.container-fluid2{
	background-color: #579C87;
	margin: 0px;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.row2{
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	margin-right: 10px;
}
.wiggling{
	animation: thing 1.5s infinite;
}
@keyframes thing{
	0%{transform: rotate(3deg)}
	3%{transform: rotate(-3deg)}
	4%{transform: rotate(-5deg)}
	5%{transform: rotate(0deg)}
	100%{transform: rotate(0deg)}
}
a{
	text-decoration: none;
	color: #fcca46;
}

@media all and (min-width: 401px) and (max-width: 768px){
	main{
		height: 100%;
	}
	.mentionslegales{
		width: 380px;
		height: 100%;
		box-shadow: none;
	}		
}

@media all and (max-width: 400px){
	.container-fluid1{
		height: auto;
	}
	.row1{
		font-size: 15px;
	}
	.mentionslegales{
		width: 380px;
		height: 100%;
		box-shadow: none;
	}
	main{
		height: 100%;
		margin-bottom: 100px;
	}
}